//Variables
//Landing Page

//Animation Page
$AnimationPrimaryBlack: #0D1717;






//Landing page css

.LandingContainer{
    height: 99%;
    display: flex;
    align-items: center;
    justify-content: center;

    .LandingCard{
        background-color: red;
        width: 100px;
        height: 75px;
        border-radius: 30px;
    }
}


//Animation page

.AnimationBody{
   

    
}
